*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    min-height: calc(100vh - 50px);
    background-color: #1E293B;
}
.main .page{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.main .page1{
    width: 20rem;
    height: 20rem;
    background-color: #475569;
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
}
.main .buttons{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
.main .buttons div{
    background-color: white;
    display: inline-block;
    margin-left:10px ;
    padding: 0 10px;
    cursor: pointer;
}
.main .buttons div:active{
   background-color: blue;
   color: white;
}
.main .page1{
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;

}
.main .page1 img{
    width:11vw;
}
.main .page1 h3{
    font-weight: 400;
}
.main .page1 button{
    padding: 5px; 
    margin-top: 10px;
    background-color: #1E293B;
    color: white;
    cursor: pointer;
}
.details-box{
    width: 100%;
    min-height: calc(100vh - 50px);
    background-color: #1E293B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.details{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
   
}
.details .coin{
    width: 100%;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: #0c121b; 
    padding:10px 20px ;
    font-size: 20px;
   
}
.details .coin img{
    width: 15vw;
    height: 15vw;
} 
.details-box .low-high{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.details-box .low{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 0 20px;
}
.details-box .high{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 0 20px;
}
.details-box .circulating-supply{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 0 20px;
}
.details-box .market-cap{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 0 20px;
}
.cross{
    padding: 0 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 40px;
    background-color: #0c121b;
    cursor: pointer;
}
@media (max-width:1000px) {
    .main .page{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:650px) {
    .main .page{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}